{% extends 'core/base.html' %}

{% block document_name %}Login{% endblock %}

{% block content %}
  <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Login</h1>

    <form action="" method="POST">
      {% csrf_token %}

      {{form.non_field_errors}}

      {% for field in form %}
        <div class="mb-3">
          {% if field.errors %}
            {{field.errors}}
          {% endif %}
          <label for="{{field.name}}" class="inline-block mb-2">{{field.label}}</label><br>
          {{field}}
        </div>
      {% endfor %}

      <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">
        Login
      </button>
    </form>
  </div>
{% endblock %}